body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/5_background/desert.png');
    background-position: center;
    background-size: cover;
    font-family: 'DynaPuff', Arial, Helvetica, sans-serif;
}


canvas {
    background-color: black;
    display: block;
}


canvas {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
}


#link {
    text-decoration: none;
    font-size: 28px;
    padding: 10px;
}


.d-none {
    display: none !important;
}


h1 {
    font-size: 64px;
    color: rgb(100, 0, 0);
    letter-spacing: 2px;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.6);
    margin: 0;
}


.ln-background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.media-screen {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 20px;
}


h2 {
    font-size: 56px;
    color: rgb(100, 0, 0);
    letter-spacing: 2px;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.6);
    margin: 0px 0px;
    align-self: center;
    padding-inline: 100px;
}


.headline {
    display: flex;
    flex-direction: column;
}


.margin-top {
    display: flex;
    justify-content: space-between;
}


.close-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-self: center;
    margin: 10px;
}


.close-icon:hover {
    background-color: #66666649;
    border-radius: 50%;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }


    #link {
        position: absolute;
        bottom: 10px;
    }

    #overlay-content {
        padding: 20px;
    }
}


/* dynapuff-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DynaPuff';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/dynapuff-v8-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* dynapuff-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DynaPuff';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/dynapuff-v8-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


#orientation-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: rgba(60, 25, 25, 0.5);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}


.warning-text {
    color: white;
    font-size: 36px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
}