body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/5_background/desert.png');
    background-position: center;
    background-size: cover;
    font-family: 'DynaPuff', Arial, Helvetica, sans-serif;
}


canvas {
    background-color: black;
    display: block;
}


h1 {
    font-size: 64px;
    color: rgb(100, 0, 0);
    letter-spacing: 2px;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.6);
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}


/* dynapuff-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DynaPuff';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/dynapuff-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dynapuff-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DynaPuff';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/dynapuff-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}